In [16]:
import pandas as pd
import numpy
import csv

In [17]:
# 数据
data = [
    ['a', 'b', 'c', 'd', 'message'],
    [1, 2, 3, 4, 'hello'],
    [5, 6, 7, 8, 'world'],
    [9, 10, 11, 12, 'foo']
]
filename = 'examples/ex1.csv'
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print(f'CSV文件 {filename} 写入成功！')

CSV文件 examples/ex1.csv 写入成功！

In [19]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo